{{#eq registrationOpen true}}
	<div id="registration-landing">
		<div id="sign-up-text">
			<h4 id="sign-up">{{name}}</h4>
			<h3 id="secret">SECRET</h3>
			<h3 id="dj">DJ</h3>
		</div>
		<form>
			<div id="new-user-entries">
				<div id="personal-info">
					<div class="form-group">
						<label for="name-input">Name</label>
						<input value="{{name}}" type="text" class="form-control" id="name-input" aria-describedby="name-help" placeholder="Enter name">
						<small id="name-help" class="form-text text-muted">Edit the name that other users will see.</small>
					</div>

					<div class="form-group">
						<label for="email-input">Email address</label>
						<input value="{{email}}" type="email" class="form-control" id="email-input" aria-describedby="email-help" placeholder="Enter email" disabled>
						<small id="email-help" class="form-text text-muted">This cannot be changed.</small>
					</div>
				</div>

				<div class="form-group">
					<label for="rule1-input">Rule 1</label>
					<input value="{{rule1}}" type="text" class="form-control" id="rule1-input" aria-describedby="rule1-help" placeholder="Enter a rule">
					<small id="rule1-help" class="form-text text-muted">Fill this out.</small>
				</div>

				<div class="form-group">
					<label for="rule2-input">Rule 2</label>
					<input value="{{rule2}}" type="text" class="form-control" id="rule2-input" aria-describedby="rule2-help" placeholder="Enter another rule">
					<small id="rule2-help" class="form-text text-muted">Fill this out.</small>
				</div>
			</div>

			<div id="button-centerer">
				<button id="submit-edit" type="submit" class="btn btn-primary">
					<span id="submit-edit-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
					Edit
				</button>
			</div>
		</form>
	</div>

    <div id="submit-edit-success" class="alert alert-success" style="display: none;" role="alert">
        Success!
    </div>

    <div id="submit-edit-error" class="alert alert-danger" style="display: none;" role="alert">
        Error!
    </div>
{{else}}
	<div id="registration-landing">
		<div id="sign-up-text">
			<h4 id="sign-up">{{name}}</h4>
			<h3 id="secret">SECRET</h3>
			<h3 id="dj">DJ</h3>
			{{#noteq playlist ""}}
				<h3 id="more-info-small">Your playlist is ready.</h3>
			{{/noteq}}
		</div>
		<div id="recipient-instructions">
			{{#eq recipient.playlist ""}}
				<h3>You're making a playlist for {{recipient.name}}</h3>
			{{else}}
				<h3>You made a playlist for {{recipient.name}}</h3>
			{{/eq}}
			<h6><b>Rule 1:</b> {{recipient.rule1}}</h6>
			<h6><b>Rule 2:</b> {{recipient.rule2}}</h6>
			{{#eq recipient.playlist ""}}
				<form>
					<div class="form-group">
						<label for="playlist-input">{{recipient.name}}'s Playlist</label>
						<input type="text" class="form-control" id="playlist-input" aria-describedby="playlist-help" placeholder="Enter a playlist for {{recipient.name}}">
						<small id="playlist-help" class="form-text text-muted">Link to playlist.</small>
					</div>

					<div id="submit-playlist-container">
						<button id="submit-playlist" type="submit" class="btn btn-primary">
							<span id="submit-playlist-spinner" class="spinner-border spinner-border-sm" role="status" aria-hidden="true" style="display: none"></span>
							Submit Playlist
						</button>

						<div id="submit-playlist-success" class="alert alert-success" style="display: none;" role="alert">
							Success! Playlist Submitted.
						</div>

						<div id="submit-playlist-error" class="alert alert-danger" style="display: none;" role="alert">
							Error! Playlist couldn't be submitted.
						</div>
					</div>
				</form>
			{{else}}
				<div id="gap-filler"></div>
			{{/eq}}
		</div>
	</div>
<!--    {{#noteq playlist ""}}-->
<!--        <h5>Your playlist is ready!</h5>-->
<!--        {{#includes playlist "open.spotify.com"}}-->
<!--            <iframe src="{{playlist}}" width="250" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
<!--        {{else}}-->
<!--            <a href="{{playlist}}">Link</a>-->
<!--        {{/includes}}-->
<!--    {{/noteq}}-->
{{/eq}}

<div id="table-center">
	<table class="table">
		<thead>
		<th>Name</th>
		<th>Rule 1</th>
		<th>Rule 2</th>
		{{#eq registrationOpen false}}
			<th>Playlist</th>
		{{/eq}}
		</thead>
		<tbody id="participant-table-body"></tbody>
	</table>
</div>
